<!DOCTYPE html>

<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

* {

    box-sizing: border-box;

}

​

/* Create four equal columns that floats next to each other */

.column {

    float: left;

    width: 25%;

    padding: 10px;

    height: 300px; /* Should be removed. Only for demonstration */

}


/* Clear floats after the columns */

.row:after {

    content: "";

    display: table;

    clear: both;

}

</style>

</head>

<body style="background-color: #8b95a5;">

​

<h1 style="text-align: center;">Welcome To Chhabra Restaurant</h1>

​

<div class="row">

  <div class="column" style="background-color:#aaa;">

        <a href="/add" style="text-decoration: none;"><h2 style="text-align: center; ">Add Item</h2></a><br>
        
  </div>

  <div class="column" style="background-color:#bbb;">

            <a href="/addNewMrpItem" style="text-decoration: none;"><h2 style="text-align: center; ">Add Item Priced as per MRP</h2></a><br>

  </div>

  <div class="column" style="background-color:#ccc;">

            <a href="/billing1" style="text-decoration: none;"><h2 style="text-align: center;">Make Bill</h2></a><br>

  </div>

  <div class="column" style="background-color:#ddd;">

            <a href="/billing2" style="text-decoration: none;"><h2 style="text-align: center;">Make Discounted Bill</h2></a><br>

  </div>

  <div class="column" style="background-color:#eee;">

            <a href="/billing3" style="text-decoration: none;"><h2 style="text-align: center;">Self Priced Bill</h2></a><br>
    
 </div>
    

</div>

​

</body>

</html>

​

